/* ========================
   Global & Root Variables
======================== */
.tasks {
  border: 1px solid #ffff;
  width: 90%;
  height: 30px;
  margin-top: 10px;
  background-color: #ffff;
  border-radius: 8px;
  display: inline-block;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
  box-shadow: 0 5px 6px #364e7e1a;
  white-space: nowrap;
  cursor: pointer;
}

.tasks:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas: "Sidebar heading" "Sidebar main-body" "Sidebar main-body";
  column-gap: 2px;
  background-color: #e4ebfa;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.desktop-only {
  margin-left: 30px;
  margin-top: 20px;
  width: 150px;
}
.btn{
  display: flex;
  justify-content: space-between;
}
.add-task-btn{
  background-color: #635fc7;
   color: #ffff;
   height: 20%;
   margin-top: 15px;
   border-radius: 20px;
   font-size: 14px;
   padding: 10px 20px;
   margin-right: 20px;
   border: none;
   cursor: pointer;
}
/* modal backdrop */
.modal{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden{
  display: none;
}
/*modal content box*/
.modal-content{
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width:90%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* close btn */
.close-modal{
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
/* Textarea and inputs */
.modal-content input,
.modal-content textarea,
.modal-content select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  resize: none;
}
/* Save Button */
#saveTask {
  background-color: #635fc7;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

#saveTask:hover {
  background-color: #524bc5;
}

#side-heading {
  font-size: 12px;
  font-weight: 700;
  color: rgb(130, 143, 163);
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-heading {
  margin-left: 20px;
}
.mobile-btn {
  display: none;
}
.desktop-btn {
  background-color: #635fc7;
  color: #ffff;
  border: none;
  width: 95%;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  padding-right: 90px;
}
.mobile-only {
  display: none;
}

.heading {
  grid-area: heading;
  border: 1px solid #ffff;
  background-color: #ffff;
}
.main-body {
  grid-area: main-body;
  background-color: #e4ebfa;
}

.Sidebar {
  grid-area: Sidebar;
  border: 1px solid #ffff;
  background-color: #ffff;
}
.ball-container {
  font-weight: normal;
  color: rgb(130, 143, 163);
  font-size: 11px;
  margin: 0;
}
.list-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;
  grid-template-rows: 3;
  margin-top: 20px;
}
#ball-1 {
  background-color: #49c4e5;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
#ball-2 {
  background-color: #8471f2;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
#ball-3 {
  background-color: #67e2ae;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
.balls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .Sidebar {
    display: none;
  }
  .heading {
    display: flex;
    flex-direction: row;
  }
  .mobile-only {
    display: block;
    width: 40px;
    margin-left: 20px;
  }
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "heading"
      "main-body";
  }
  .list-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
  }
  .balls {
    margin-top: 20px;
  }
  .tasks {
    font-size: 16px;
    white-space: nowrap;
  }

  .tasks:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .ball-container {
    font-size: 16px;
  }
    .modal-content {
    width: 90%;
    padding: 20px;
  }
}